
.container {
    padding-top: 50px;
}

.float-left h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.btn-primary {
    margin-bottom: 1rem;
}

.btn-success {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-check {
    padding-bottom: 1rem;
}

.table thead th {
    background-color: #f2f2f2;
}

.btn-secondary {
    width: 100%;
}

.border-right {
    border-right: 1px solid #dee2e6;
}

