@page "/counter"



<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="mb-3">
                <h1>mJobs</h1>
                <a href=""><button class="btn btn-primary">+ Neuer Job</button></a>
                <div class="form-group">
                    <label for="windowsService">WindowsDienst</label>
                    <select id="windowsService" class="form-control">
                        <option>mention mJobs</option>
                    </select>
                </div>
                <button class="btn btn-success">Start</button>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="showLog">
                    <label class="form-check-label" for="showLog">Logprotokoll anzeigen</label>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Aktiv</th>
                        <th>Name</th>
                        <th>Kategorie</th>
                        <th>Erstellungsdatum</th>
                        <th>Ersteller</th>
                        <th>Beginnend ab</th>
                        <th>Rhythmus</th>
                        <th>Bemerkung</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-end mt-3">
        <div class="col-md-3">
            <button class="btn btn-secondary">Abbrechen</button>
        </div>
    </div>
</div>

@code {
}
