.custom-modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    border-top: 1px solid #e9ecef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group-text {
    background-color: #eeeeee;
    border: none;
}



.btn-primary {
    background-color: #4e73df;
    border: none;
}

.btn-secondary {
    background-color: #f8f9fa;
    color: #333333;
    border: none;
}
